.verde {
  color: green;
}

section#equipe h1 {
  position: absolute;
}
section#equipe h1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  background: #000;
  position: absolute;
  top: 32%;
  box-shadow: 0px 0px 10px black;
  right: 40%;
  margin: 0px;
}
section#equipe p {
  position: absolute;
  top: 39%;
  right: 30%;
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  background: black;
}
section#equipe {
  text-align: center;
  width: 100%;
  margin-top: 0px;
  height: 800px;
  color: #fff;
  background-image: url(../img/staff.jpg);
}
section#equipe div {
  border: 1px solid black;
  background: #000;
}

img.staff {
  width: 12%;
  border-radius: 200px;
  position: absolute;
  transition: 0.2s;
  top: 450px;
  box-shadow: 0px 0px 0px black;
  filter: grayscale(0.3);
}
div#box {
  margin-left: 12%;
  background: #000;
}
img.staff:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: grayscale(0);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
img#aly {
  margin-left: 5%;
}
img#lea {
  margin-left: 15%;
}
img#let {
  margin-left: 25%;
}
img#grazi {
  margin-left: 35%;
}
img#gle {
  margin-left: 45%;
}
img#eliz {
  margin-left: 55%;
}

.caixa {
  height: 80%;
  width: 0;
  position: absolute;
  top: 30%;
  right: 33%;
  background-color: #000;
  border-radius: 20px;
  overflow-x: hidden;
  z-index: 1;
  /*filter: drop-shadow(0px 0px 10px #000);*/
  transition: 0.5s;
  box-shadow: 0px 0px 10px black;
}
.caixa .closebtn:hover {
  color: red;
  text-decoration: none;
  transform: rotate(40deg);
}
.caixa .closebtn {
  color: rgba(20, 178, 39, 0.859);
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 1;
  transition: 0.2s;
  font-size: 36px;
  text-decoration: none;
}
#tudo {
  transition: 1s;
}
div.caixa {
  top: 10%;
  right: 34%;
  position: absolute;
}
div.caixa header {
  width: 500px;
  height: 210px;
  background-image: url(../img/Wallpaper.jpg);
  position: relative;
}
div.caixa header img {
  height: 200px;
  right: -30%;
  box-shadow: 0px 0px 10px black;
  top: 5px;
  position: relative;
  border-radius: 100px;
}
.caixa h1 {
  color: #fff;
  text-align: center;
  font-size: 17pt;
  margin-left: 90px;
  margin-right: 90px;
  border-bottom: 1px solid #3ae131;
}
.caixa h2 {
  font-size: 12pt;
  position: absolute;
  margin: 0px;
  color: #3ae131;
  right: 102px;
  top: 258px;
}
.caixa p {
  color: #fff;
  position: absolute;
  top: 60%;
  right: 15%;
  text-align: center;
  font-size: 10pt;
  margin-left: 70px;
  margin-right: 10px;
}
.caixa span {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: #3ae131;
  font-size: 50pt;
  right: 100%;
  top: -50%;
}
.caixa img.icon:hover {
  box-shadow: 0px 0px 3px green;
  border-radius: 90px;
  transform: scale(1.2);
}
.caixa img.icon {
  transition: 0.2s;
  width: 40px;
  margin-left: 20px;
  /*margin-right: 10px;*/
}
.caixa div#icon {
  position: relative;
  top: 40%;
}
