div#myCarousel{
    box-shadow: 0px 4px 20px black;
}





/*Sobre css*/

section#sobre{
    background-image: url(../_img/sobre.jpg);
    background-size: 1750px;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 840px;
    position: relative;
}

section#sobre h1{
    text-align: center;
    margin-top: 0px
    color: #000;
    margin: 3px 35%;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1)
}

section#sobre p{
    text-align: center;
    color: #fff;
    margin-top: 12%;
    position: absolute;
    margin-left: 40%;
    margin-right: 18%;
    padding: 10px;
    text-shadow: 0px 0px 5px black;
    background: black;
    box-shadow: 0px 0px 40px black;
    border-radius: 12px;
}










/*Bolinhas demonstrativas*/



figure img#img1{
    width: 13%;
    position: absolute;
    top: 70%;
    border: 1px solid black;
    right: 64%;
    box-shadow: 0px 0px 12px black;
    border-radius: 1000px;
    transition: 0.2s;
}

figure img#img2
{
    width: 13%;
    position: absolute;
    top: 70%;
    right: 45%;
    border: 1px solid black;
    background: #000;
    box-shadow: 0px 0px 12px black;
    border-radius: 1000px;
    transition: 0.2s;
}

figure img#img3{
    width: 13%;
    border: 1px solid black;
    position: absolute;
    top: 70%;
    right: 26%;
    box-shadow: 0px 0px 12px black;
    border-radius: 1000px;
    transition: 0.2s;
}










/*Figcaption*/

figure figcaption#img1{
    font-size: 10pt;
    top: 77%;
    margin-right: 15%;
    margin-left: 24%;
    text-align: center;
    right: 50%;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

span.verde{
    color: green;
}

figure figcaption#img2{
    font-size: 10pt;
    transition: 0.2s;
    top: 79%;
    right: 50.5%;
    position: absolute;
    opacity: 0;
    text-align: center;
}

figure figcaption#img3{
    font-size: 10pt;
    transition: 0.2s;
    text-align: center;
    top: 79%;
    right: 31.5%;
    position: absolute;
    opacity: 0;
}




figure.bolinha:hover img{
    filter: brightness(0.06);
}

figure.bolinha:hover figcaption#img3{
    opacity: 1;
    color: white;
}

figure.bolinha:hover figcaption#img2{
    opacity: 1;
    color: white;
}
figure.bolinha:hover figcaption#img1{
    opacity: 1;
    color: white;
}




/*Responsividade*/

@media screen and (max-width: 900px){

    section#sobre p{
        margin-left: 40%;
        margin-right: 20%;
    }

}

@media screen and (max-width: 850px)
{
    section#sobre p{
        margin: 0px;
        margin-top: 100px;
        display: none;
    }
}
