div#myCarousel{
    box-shadow: 0px 4px 20px black;
}



/*Sobre css*/

section#sobre{
    background-image: url(../_img/sobre.jpg);
    background-size: 1750px;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 600px;
/*    position: relative;*/
}

section#sobre h1{
    text-align: center;
    margin-top: 0px;
    color: #000;
    margin: 7px 35%;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1)
}

section#sobre p{
    text-align: center;
    color: #fff;
    margin-top: 12%;
    position: absolute;
    margin-left: 40%;
    margin-right: 18%;
    padding: 10px;
    text-shadow: 0px 0px 5px black;
    background: black;
    box-shadow: 0px 0px 40px black;
    border-radius: 12px;
}




/*Responsividade*/

@media screen and (max-width: 900px){

    section#sobre p{
        margin-left: 40%;
        margin-right: 20%;
    }

}

@media screen and (max-width: 850px)
{
    section#sobre p{
        margin: 0px;
        margin-top: 100px;
        display: none;
    }
}
