#df3{
  height: 100%;
  width: 100%;
  display: inline;
  background-color: rgba(0, 0, 0, 0.9);
}




.meio1{
  background-color: transparent;
  border-radius: 20px;
  transition: 0.1s;
  /*position: absolute;*/
  left: 20%;
  top: 30%;
}
.meio1 input[type="password"], input[type="text"], input[type="email"]{
  color: rgba(255,255,255,0.3);
  background: transparent;
  margin-top: 2%;
  margin-left: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 2px;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  border: none;
  border-bottom: 1px solid green;
  text-decoration: none;
  transition: 0.1s;
}
.meio1 input[type="submit"]{
  color: rgba(255,255,255,0.5);
  font-family: arial;
  padding: 0px 8px 0px 8px;
  margin: 10px 0px 0px 0px;
  top: 10px;
  position: relative;
  margin-top: 5%;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 20px;
  transition: 0.2s;
  border: 1px solid rgb( 20, 178, 39);
  box-shadow: 0px 0px 5px black;
}
.meio1 input[type="submit"]:hover{
  transform: scale(1.2);
  background: #000;
  color: green;
}




.meio2{
  background-color: transparent;
  border-radius: 20px;
  transition: 0.1s;
  /*position: absolute;*/
  left: 60%;
  top: 30%;
}
.meio2 input[type="password"], input[type="email"]{
  color: rgba(255,255,255,0.3);
  background: transparent;
  margin-top: 2%;
  margin-left: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 2px;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  border: none;
  border-bottom: 1px solid green;
  text-decoration: none;
  transition: 0.1s;
}
.meio2 input[type="submit"]:hover{
  transform: scale(1.2);
  background: #000;
  color: green;
}
.meio2 input[type="submit"]{
  color: rgba(255,255,255,0.5);
  font-family: arial;
  padding: 0px 8px 0px 8px;
  margin: 10px 0px 0px 0px;
  top: 20px;
  position: relative;
  background-color: transparent;
  border-radius: 20px;
  transition: 0.2s;
  border: 1px solid rgb( 20, 178, 39);
  box-shadow: 0px 0px 5px black;
}