#conta{
  background: black;
}
/* Local e Tamanho */
#alas-perfilmachine{
  font-family: 'Montserrat', sans-serif;
  width: 30%;
  position: fixed;
  z-index: 1;
  overflow-x: scroll;
  height: 100%;
  background: black;
}
#info-perfilmachine{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30%;
  width: 70%;
  border-left: 2px solid black;
  background: rgb(255, 255, 255);
}
/* Alas */
#alas-perfilmachine .ala{
  border: 3px solid black;
  /* border-right: 2px solid black; */
  transition: 0.5s;
  border-radius: 15px;
  background: rgb(255, 255, 255);
}
#alas-perfilmachine .ala h4{
  margin: 0px;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 5px;
}
#alas-perfilmachine .ala:hover{
  border-bottom: 4px solid rgb(5, 181, 5);
  border-top: 4px solid rgb(5, 181, 5);
  transition-duration: 0.5s;
}
/* Subalas */
#alas-perfilmachine .subala{
  border: 3px solid black;
  margin-left: 25px;
  transition: 0.5s;
  border-radius: 15px;
  background: rgb(255, 255, 255);
}
#alas-perfilmachine .subala h4{
  margin: 0px;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 5px;
}
#alas-perfilmachine .subala:hover{
  border-bottom: 4px solid rgb(5, 181, 5);
  border-top: 4px solid rgb(5, 181, 5);
  transition-duration: 0.5s;
}

/* Info */
#info-perfilmachine #perfil h1{
  margin-top: 0px;
}
#info-perfilmachine .info h1{
  margin-top: 0px;
}
#textorespostaaddform{
  margin-top: 31%;
  text-align: center;
  color: #fff;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
#respostaaddform{
  box-shadow: 0px 0px 100px rgba(167, 167, 167);
  transition: 0.5s;
  top: 0px;
  background-color: rgba(167, 167, 167, 0.38);
  position: fixed;
  height: 100%;
}
#addform{
  margin-top: 31%;
  background: rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 2);
  text-align: center;
  color: #fff;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
#addcontrolador{
  box-shadow: 0px 0px 100px rgba(167, 167, 167);
  transition: 1.3s;
  top: 0px;
  background-color: rgba(167, 167, 167, 0.38);
  position: fixed;
  height: 100%; 
}
.excluir{
  margin-top: 30%;
  background: rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 2);
  text-align: center;
  color: #fff;
  width: 70%;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
.tudoexcluir{
  transition: 1.3s;
  top: 60px;
  background-color: rgba(167, 167, 167, 0.38);
  position: fixed;
  height:100%; 
}