div#myCarousel{
    box-shadow: 0px 4px 20px black;
}



/*codigo css*/
  #codigo{
    margin-top: 30%;
    margin-bottom: 30%;
  }
  #codigo center h1{
    margin-bottom: 30px;
    color: black;
  }
/*Responsividade*/

@media screen and (max-width: 900px){

    section#sobre p{
        margin-left: 40%;
        margin-right: 20%;
    }

}

@media screen and (max-width: 850px)
{
    section#sobre p{
        margin: 0px;
        margin-top: 100px;
        display: none;
    }
}
