#addform{
  margin-top: 31%;
  background: rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 2);
  text-align: center;
  color: #fff;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
#addcontrolador{
  box-shadow: 0px 0px 100px rgba(167, 167, 167);
  transition: 1.3s;
  top: 0px;
  background-color: rgba(167, 167, 167, 0.38);
  position: fixed;
  height: 100%; 
}
#textorespostaaddform{
  margin-top: 31%;
  text-align: center;
  color: #fff;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
#respostaaddform{
  box-shadow: 0px 0px 100px rgba(167, 167, 167);
  transition: 0.5s;
  top: 0px;
  background-color: rgba(167, 167, 167, 0.38);
  position: fixed;
  height: 100%;
}
.excluir{
  margin-top: 30%;
  background: rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 2);
  text-align: center;
  color: #fff;
  width: 70%;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
.tudoexcluir{
  transition: 1.3s;
  top: 60px;
  background-color: rgba(167, 167, 167, 0.38);
  position: fixed;
  height:100%; 
}